.container {
  background-color: rgb(212, 209, 209);
  padding: 30px;
  display: flex;
  flex-direction: column !important;
  justify-content: center;
}

.search {
  width: 60%;
  margin: auto;
  padding: 1rem;
  border: 2px solid;
  border-radius: 3px;
  color: rgb(13, 9, 9);
  font-size: 1rem;
}

.middle  {
  margin-top: 5rem;
  padding: 4rem !important;
  display: flex;
  background-color: rgb(148, 148, 143);
  border-radius: 7px;
  justify-content: center;

}

.searchArea {
  margin-top: 4rem;
  padding: 2rem;
  text-align: center;
  background-color: rgb(164, 164, 156);
  border-radius: 7px;
}


h3 {
  text-align: center;
}

.nameCity {
  font-size: 2rem;
}

.temp {
  font-size: 1.4rem;
}

.weather {
  font-weight: 900;
  font-size: 1.2rem;
text-transform:  uppercase;
}

